<div class="d-flex justify-content-center align-items-center flex-column h-100">
    <p class="medium-text">Payment</p>
    <button type="button" class="btn payment-btn" (click)="openCheckout()">
      Proceed to Pay
    </button>
</div>


<!-- <div id="container" class="checkout container">
    <div id="customer-info" class="row">                
        <div class="col-sm-7" id="checkout_info">   
            <div id="subscribe-form">
                <hr>                            
                <div class="form-inline">
                    <div class="form-group">
                    <button type="button" class="btn btn-success" (click)="openCheckout()">Process To checkout</button>
                    </div>
                </div>                        
              </div>
        </div>
    </div>
    <div id="checkout-info" class="row">
    </div>
</div> -->