<app-differ-nav-bar></app-differ-nav-bar>

<div class="row mt-5 title">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-20">
            <div class="card-header">
                <h3 class="mb-0">Enter your email address to create your account</h3>
            </div>
            <div class="card-body">
                
                <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()" class="form">
                    
                    <div class="form-group rounded-15">
                        <label for="">Enter Your Email Address</label>
                        
                        <input type="text" class="form-control" formControlName="email" name="email" required>
                    </div>
                     <div *ngIf="submitted && signupFormHas.email?.errors">
                         <small *ngIf="signupFormHas.email.errors?.required" class="text-danger" > Email Address is Required </small>
                         <small *ngIf="signupFormHas.email.errors?.minlength" class="text-danger" > Email Address between 5 to 70 characters </small>
                         <small *ngIf="signupFormHas.email.errors?.maxlength" class="text-danger" > Email Address between 5 to 70 characters</small>
                         <small *ngIf="signupFormHas.email.errors?.pattern" class="text-danger" > Email Address is not valid</small>
                     </div>
                    <div class="">
                        <button type="submit" class="btn btn-success float-right">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>