<app-differ-nav-bar></app-differ-nav-bar>

<div class="row mt-5 mb-5 title">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-20">
            <div class="card-header">
                <h3 class="mb-0">{{ address }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row center-service-list ">
    <div class="col-4 mb-4  " *ngFor="let element of serviceItemList">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Service Title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">- {{ element.item.name }}.</p>
              <p class="card-text">- {{ element.item.status }}.</p>
              <p class="card-text">- here is a feature included.</p>
              <button type="button" (click)="handleServiceClick(element)" class="card-link btn btn-info">Order</button>
            </div>
          </div>
    </div>
</div>

